.base-3{
  background:red;
}
.base-2{
  background:base-3.$primary-color;
}
.base{
  color:base-2.$primary-color;
}
.use{
  background-color:base.$primary-color;
  color:base-3.plus(1,2);
  font:1212.1212;
}
.use-more-than-one-namespace{
  color:base.base-2.$primary-color;
}
