.component {
    width: 300px;
    .selector{
        @media (min-width: 1280px) {
            width: 800px;
        }
    }
    @media (min-width: 768px) {
        width: 600px;
        .selector2{
            @media (min-resolution: 192dpi) {
                background-image: url(/img/retina2x.png);
            }
        }
        .selector3{
            color:red;
        }
    }
}

$layout-breakpoint-small: 960px;

@media (min-width: $layout-breakpoint-small) {
    .hide-extra-small {
        display: none;
    }
    .selector1{
        color:red;
        .selector1-1{
            color:green;
        }
    }
}

.class-a{
    width: 1px;
}