.base-2{
  background:red;
}
.base{
  color:base-2.$primary-color;
}
.base{
  color:base-2.$primary-color;
}
.use{
  background-color:base.$primary-color;
  color:base-2.plus(1,2);
  width:1212.1212;
}
